.baslik {
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.etiket{
    color: darkblue;
}
.name{
    color: darkorange;
}
.parag{
    font-family: sans-serif;
}